!!!
%html
  %head
    %title Blocmetrics
    %link{:href => "/stylesheets/application.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/pikaday.css", :rel => "stylesheet"}
    %script{:src => "/js/pikaday.js", :type => "text/javascript"}
    %script{:src => "/js/moment.min.js", :type => "text/javascript"}
  %body
    .user-info
      - if session[:current_user_email]
        Welcome #{session[:current_user_email]} |
        %form{:action => "/users/sign-out", :method => "post"}
          %input{:type => "submit", :value => "Sign Out"}
      - else
        %a{:href => "/users/sign-up"} Sign Up
        %a{:href => "/users/sign-in"} Sign In
    = styled_flash
    = yield