Hello World #{@page_count}
%br
- if current_user
  %a{:href => "/site/new"} Add Site
- if @sites
  %h3 Your Sites:
  - if @sites.empty?
    %p You don't have any registered sites.
  #sites
    - @sites.each do |site|
      %a{:href => "/events/#{site["code"]}"}= site["url"]
      %br