Hello World <%= @page_count %>

<% if session[:current_user_email] %>
  <a href="/site/new">Add Site</a>
<% end %>

<h3>Your Sites</h3>
<% if @sites %>
  <% @sites.each do |site| %>
    <p><%= site["url"] %></p>
    <p><%= site["code"] %></p>
  <% end %>
<% end %>