%form{:action => "/site/new", :method => "post"}
  %p
    %label{:for => "url"} URL:
    %input{:type => "text", :name => "url", :placeholder => "URL address"}
  %p
    %input{:type => "submit", :value => "Add Site"}