<form action="/site/new" method="post">
  <p>
    <label for="url">URL:</label>
    <input type="text" name="url" placeholder="URL address" />
  </p>
  <p><input type="submit" value="Add Site" /></p>
</form>