<h1>Blocmetrics Sign Up:</h1>
<form action="/users/sign-up" method="post">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" value="<%= email %>" placeholder="Email Address" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password" />
  </p>
  <p>
    <label for="passwordConfirmation">Confirm Password:</label>
    <input type="password" name="passwordConfirmation" placeholder="Password Again" />
  </p>
  <p><input type="submit" value="Sign Up" /></p>
</form>