<h1>Blocmetrics Sign In:</h1>
<form action="/users/sign-in" method="post">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="Email Address" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password" />
  </p>
  <p><input type="submit" value="Sign In" /></p>
</form>